.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    
    visibility: visible;
    opacity: 1;
    transition: opacity var(--typical-transition-duration) var(--typical-transition-timing-function),
    visibility var(--typical-transition-duration) var(--typical-transition-timing-function);

    &.is-hidden {
        opacity: 0;
        pointer-events: none;
        visibility: hidden;
    }
}