.features {
    padding-bottom: 0;

    &__item {
        width: 270px;
    }

    &__icon-box {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: var(--theme-bg-btn);
        border-radius: 4px;
        margin-bottom: 30px;
        width: 270px;
        height: 120px;
    }

    &__header {
        margin-bottom: 10px;
    
        font-size: 14px;
        font-weight: 700;
        line-height: 1.14;
        text-transform: uppercase;
        color: var(--theme-heading);
    }

    &__description {
        font-weight: 400;
        font-size: 14px;
        line-height: 1.71;
    }
}
